@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キャンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$base-font-family: 'Noto Sans JP', sans-serif;
$second-font-family: 'Gotu', sans-serif;
$third-font-family: 'Lato', sans-serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $base-font-family;
}

// フォントウェイト
$regular: 400;
$medium: 500;
$bold: 700;

h1,
h2,
h3,
h4{
  font-weight: $regular;
}

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #0D2936;
$white: #fff;
$green-accent: #408F95;
$back-green: #DDF0F1;

////////////////
//   その他
////////////////


body {
  color: $black;
  letter-spacing: 0;
  line-height: 1;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* ハンバーガーメニュー展開時、背景を固定 */
body.active {
  height: 100%;
  overflow: hidden;
}

// ローディング画面用
body {
	display:none;
}

/* pcの電話番号発信対応 */
// a[href^="tel:"] {
//   @include mq("md") {
//     pointer-events: none;
//   }
// }

/* ホバー */
// a {
//   text-decoration: none;
//   color: inherit;
//   transition: opacity 0.4s;
// }

img {
  width: 100%;
  vertical-align: top;
}
