@use "global" as *;

.arrow {
  display: none;
  @include mq("md") {
    display: inline-block;
    width: rem(80);
    height: rem(80);
    border-radius: 50%;
    border: 1px solid $green-accent;
    background-color: $white;
    position: relative;
    transition: 0.4s background-color, .4s filter;
  }
}

.arrow::before {
  @include mq("md") {
    content: "";
    width: 70%;
    height: 50%;
    position: absolute;
    background-image: url(../images/common/prev-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.arrow:hover {
  @include mq("md") {
    background-color: $green-accent;
  }
}

.arrow:hover::before {
  @include mq("md") {
    filter: brightness(1000%);
  }
}

.arrow--next::before {
  @include mq("md") {
    background-image: url(../images/common/next-arrow.svg);
  }
}