@use "global" as *;

.aside-campaign {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
  transition: opacity 0.4s;
  width: 100%;
  height: 100%;
  background-color: $white;
}

.aside-campaign:hover {
  opacity: 0.7;
}

.aside-campaign__body {
  padding: rem(16) rem(24);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.aside-campaign__body-head {
  flex-grow: 1;
  text-align: center;
}

.aside-campaign__img {
  position: relative;
  width: 100%;
}

.aside-campaign__img::before {
  content: "";
  display: block;
  padding-top: 63.94%;
}

.aside-campaign__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aside-campaign__title {
  font-weight: $medium;
  font-size: rem(16);
  flex-grow: 1;
}

.aside-campaign__text {
  margin-top: rem(8);
  padding-top: rem(8);
  border-top: 1px solid $green-accent;
  font-size: rem(14);
  text-align: center;
}

.aside-campaign__price {
  font-family: $third-font-family;
  font-weight: $bold;
  margin-top: rem(3);
  display: flex;
  gap: 6.5%;
  justify-content: center;
  align-items: baseline;
}

.aside-campaign__before-price {
  font-size: rem(20);
  position: relative;
}

.aside-campaign__before-price::after {
  position: absolute;
  content: "";
  height: rem(3);
  width: 102%;
  left: 0;
  bottom: rem(15);
  background-color: #c94800;
}

.aside-campaign__after-price {
  font-size: rem(32);
  color: $green-accent;
}
