@use "global" as *;


.aside__inner {
  padding: 0 rem(20);
  @include mq("md") {
    padding: 0;
  }
}

.aside__single-inner {
  padding: 0 rem(24);
  @include mq("md") {
    padding: 0;
  }
}

.aside__content:not(:first-child) {
  margin-top: rem(80);
}

.aside__title {
  position: relative;
  padding: rem(7.5) 0;
}

.aside__title::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: rem(8);
  height: rem(50);
  top: 0;
  left: 0;
  background-color: $green-accent;
}

.aside__title h2 {
  display: flex;
  font-size: rem(24);
  position: relative;
    padding-left: rem(82);
}

.aside__title h2::before {
  content: "";
  display: inline-block;
  position: absolute;
  background: url(../images/common/title-icon.png) no-repeat;
  background-size: contain;
  background-position: top left;
  height: rem(50);
  width: rem(50);
  top: rem(-8);
  left: rem(25);
}

// サイド　ブログ
.aside__blog-item {
  margin-top: rem(25);
  @include mq("md") {
    margin-top: rem(26);
  }
}

// サイド　ボイス
.aside__voice-item {
  margin-top: rem(22);
}

// サイド　キャンペーン
.aside__campaign-items {
  margin-top: rem(22);
}

.aside__campaign-item + .aside__campaign-item {
  margin-top: rem(40);
}

// サイド　アーカイブ
.aside__archive {
  color: $green-accent;
  font-size: rem(24);
  margin-top: rem(24);
}

.aside__btn {
  text-align: center;
  margin-top: rem(40);
}
