@use "global" as *;

.aside-archive__inner {
  padding-left: rem(2);
}

.aside-archive__items p {
  position: relative;
  padding-left: rem(30);
  cursor: pointer;
  transition: .3s;
}

.aside-archive__items p:hover {
  opacity: .8;
}

.aside-archive__items p::before {
  position: absolute;
  content: "▶︎";
  top:  0;
  left: 0;
  transition: .3s all;
}

.close.aside-archive__items p::before {
  transform: rotate(90deg);
}

.aside-archive__items + .aside-archive__items {
  margin-top: rem(1);
}

.aside-archive__item {
  display: none;
  padding-left: rem(25);
}

.aside-archive__item li {
  line-height: 1.65;
  cursor: pointer;
  transition: .3s;
}

.aside-archive__item li:hover {
  opacity: .8;
}

