@use "global" as *;

// 口コミ
.aside-voice__info {
  margin-top: rem(16);
}

.aside-voice__age {
  display: block;
  font-size: rem(12);
  color: #0d2936;
}

.aside-voice__title {
  font-weight: $medium;
  font-size: rem(24);
  margin-top: rem(8);
  line-height: 1.4;
}

.aside-voice__img {
  position: relative;
  width: 100%;
  // @include mq("md") {
  //   margin-top: 0;
  // }
}

.aside-voice__img::before {
  content: "";
  display: block;
  padding-top: 74.14%;
}

.aside-voice__img img {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  transform: translate(0);
}

// .aside-voice__btn {
//   margin-top: rem(45);
// }
