@use "global" as *;

.blog {
  @include mq("md") {
    padding-top: rem(103);
    position: relative;
  }
}

.blog::after {
  @include mq("md") {
    position: absolute;
    top: rem(24);
    left: calc(50% - min(49vw, 38.8rem));
    content: "";
    background-image: url(../images/common/fish-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: rem(437);
    width: 100%;
    height: rem(201);
  }
}

.blog::before {
  @include mq("md") {
    content: "";
    position: absolute;
    height: rem(500);
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-image: url(../images/common/blog-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

.blog__inner {
  max-width: rem(600);
  padding-left: rem(21);
  padding-right: rem(21);
}

.blog__cards {
  margin-top: rem(28);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.blog__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}
