@use "global" as *;


.blog-card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  display: inline-block;
  padding: rem(16) rem(16) rem(24);
}


.blog-cards {
  @include mq("md") {
    display: flex;
    flex-wrap: wrap;
  }
}

.blog-cards__item {
  width: 100%;
  background-color: $white;

  @include mq("md") {
    width: calc(33.3333% - rem(40) * 2 / 3);
  }
}

.blog-cards__item + .blog-cards__item {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: 0;
    margin-left: rem(40);
  }
}

.blog-cards__item:nth-child(3n + 1) {
  @include mq("md") {
    margin-left: 0;
  }
}

// .blog-cards__item:nth-child(n + 4) {
//   @include mq("md") {
//     margin-top: rem(25);
//   }
// }

.blog-card:hover .blog-card__img img {
  transform: translate(-50%, -50%) scale(1.2);
}

.blog-card__img {
  position: relative;
  width: 100%;
  overflow:hidden;
  cursor: pointer;
  }

  .blog-card__img::before {
  content:"";
  display: block;
  padding-top: 66.66%;
  }

  .blog-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: auto;
  transition:  transform .4s ease;
}

  .blog-card__body {
    margin-top: rem(18);
  }

  .blog-card__day {
    font-size: rem(12);
    font-family: $second-font-family;
  }

  .blog-card__title {
    font-weight: $medium;
    letter-spacing: 0;
    font-size: rem(16);
  }

  .blog-card__text {
    border-top: 1px solid $green-accent;
    margin-top: rem(4);
    padding-top: rem(16);
    line-height: 1.5;
  }

  