@use "global" as *;

.blog-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40);
  @include mq("md") {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.blog-cards--archive {
  @include mq("md") {
    grid-template-columns: 1fr 1fr;
    gap: rem(80) rem(40);
  }
}

.blog__inner article > * + * {
  margin-top: 0;
}

.sub-blog__inner article > * + * {
  margin-top: 0;
}

.blog-cards__item {
  width: 100%;
  background-color: $white;
}
