@use "global" as *;

.blog-cards {
  @include mq("md") {
    display: flex;
    flex-wrap: wrap;
  }
}

.blog-cards__item {
  width: 100%;
  background-color: $white;
  @include mq("md") {
    width: calc(33.3333% - rem(40) * 2 / 3);
  }
}

.blog-cards__item + .blog-cards__item {
  margin-top: rem(38);

  @include mq("md") {
    margin-top: 0;
    margin-left: rem(40);
  }
}

.blog-cards__item:nth-child(3n + 1) {
  @include mq("md") {
    margin-left: 0;
  }
}

.blog-cards__item:nth-child(n + 4) {
  @include mq("md") {
    margin-top: rem(38);
  }
}

// 下層ページ
.blog-cards__item--sub {
  @include mq("md") {
    width: calc(50% - rem(40) * 1 / 2);
  }
}

.blog-cards__item--sub + .blog-cards__item--sub {
  margin-top: rem(38);

  @include mq("md") {
    margin-top: 0;
    margin-left: rem(40);
  }
}

.blog-cards__item--sub:nth-child(2n + 1) {
  @include mq("md") {
    margin-left: 0;
  }
}

.blog-cards__item--sub:nth-child(n + 3) {
  @include mq("md") {
    margin-top: rem(78);
  }
}