@use "global" as *;

.breadcrumb__items {
  display: flex;
  font-size: rem(14);
}

.breadcrumb__item {
  margin-left: rem(10);
}

.breadcrumb__item:first-child {
  margin-left: 0;
}

.breadcrumb__item:after {
  content: "";
  width: rem(8);
  height: rem(8);
  border-right: 1px solid $black;
  border-top: 1px solid $black;
  display: inline-block;
  transform: rotate(45deg);
}

.breadcrumb__item:last-child:after {
  display: none;
}

.breadcrumb__item a {
  text-decoration: none;
}

.breadcrumb__item a:hover {
  text-decoration: underline;
}

.breadcrumb {
  position: relative;
}

// あしらい　上の魚
.breadcrumb::before {
  position: absolute;
  left: calc(50% - min(46vw, 38.7rem));
  content: "";
  background-image: url(../images/common/fish-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: rem(120);
  width: 100%;
  height: rem(55);
  z-index: 1;
  top: rem(48);
  @include mq("md") {
    top: rem(100);
    max-width: rem(301);
    height: rem(138);
    z-index: 0;
  }
}

.breadcrumb__error-item {
  display: none;
}

.active.breadcrumb__error-item {
  display: block;
}