@use "global" as *;

.btn {
  display: inline-flex;
  position: relative;
  padding: rem(16) 0;
  border: 1px solid $green-accent;
  background-color: $green-accent;
  color: $white;
  font-family: $second-font-family;
  font-size: rem(14);
  max-width: rem(202);
  width: 100%;
  z-index: 0;
  cursor: pointer;
  justify-content: center;
  transition: color .2s;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid $green-accent;
  transform: translate(rem(5), rem(5));
  z-index: -1;
}

.btn:hover {
  color: $green-accent;
}

.btn:hover::after {
  transform: scale(1, 1);
}

.btn::after {
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: all 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.btn:hover .btn__arrow::before {
  background-image: url(../images/common/next-arrow.svg);
}

.btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: rem(8);
}

.btn__arrow {
  position: relative;
  display: inline-block;
  padding: 0 rem(20);
  text-decoration: none;
  outline: none;
}

.btn__arrow::before {
  content: "";
  position: absolute;
  bottom: rem(2);
  width: 100%;
  height: 100%;
  background-image: url(../images/common/btn-arrow--white.svg);
  background-repeat: no-repeat;
  background-position: center center;background-size: contain;
}

.btn:hover .btn__arrow::before,
.btn:hover .btn__arrow::after {
  background-color: transparent;
}

