@use "global" as *;

.campaign__inner {
  padding-left: 0;
  padding-right: 0;
  @include mq("md") {
    max-width: rem(1160);
}
}

.campaign__cards {
  margin-top: rem(26);
  @include mq("md") {
    margin-top: rem(35);
  }
}

.campaign__btn {
  margin-top: rem(30);
  text-align: center;
  @include mq("md") {
    margin-top: rem(70);
  }
}

.campaign__swiper {
  width: 100%;
  margin-right: calc(50% - 50vw);
  padding-top: rem(5);
  padding-left: rem(15);
  padding-bottom: rem(10);
  @include mq("md") {
  width: initial;
  }
}

.campaign__swiper-slide {
  max-width: rem(280);
  @include mq("md") {
    max-width: rem(333);
  }
}