@use "global" as *;

.campaign-card {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
  transition: opacity 0.4s;
  width: 100%;
  height: 100%;
  background-color: $white;
}

.campaign-card:hover {
  opacity: 0.7;
}

.campaign-card__body {
  padding: rem(16);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  @include mq("md") {
    padding: rem(24) rem(16) rem(30);
  }
}

.campaign-card__body--sub-page {
  @include mq("md") {
    padding: rem(24) rem(24) rem(40);
  }
}

.campaign-card__body-head {
  flex-grow: 1;
}

.campaign-card__img {
  position: relative;
  width: 100%;
}

.campaign-card__img::before {
  content: "";
  display: block;
  padding-top: 67.14%;
}

.campaign-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.campaign-card__category {
  padding: rem(5) rem(12);
  border: 1px solid $green-accent;
  color: $green-accent;
  font-size: rem(12);
  display: inline-block;
  text-align: center;
  @include mq("md") {
    padding: rem(7) rem(15);
  }
}

.campaign-card__title {
  font-weight: $medium;
  font-size: rem(16);
  margin-top: rem(4);
  flex-grow: 1;
}

.campaign-card__text {
  margin-top: rem(8);
  padding-top: rem(8);
  border-top: 1px solid $green-accent;
  font-size: rem(14);
  text-align: center;
  @include mq("md") {
    padding-top: rem(20);
    font-size: rem(16);
    line-height: 1;
  }
}

.campaign-card__price {
  font-family: $third-font-family;
  font-weight: $bold;
  margin-top: rem(3);
  display: flex;
  gap: 6.5%;
  justify-content: center;
  align-items: baseline;
  @include mq("md") {
    margin-top: rem(1);
    gap: 8.5%;
  }
}

.campaign-card__before-price {
  font-size: rem(20);
  position: relative;
  @include mq("md") {
    font-size: rem(24);
  }
}

.campaign-card__before-price::after {
  position: absolute;
  bottom: rem(15);
  left: 0;
  content: "";
  background-color: #c94800;
  height: rem(3);
  width: 102%;
  @include mq("md") {
    bottom: rem(17);
  }
}

.campaign-card__after-price {
  font-size: rem(32);
  color: $green-accent;
  @include mq("md") {
    font-size: min(3vw, rem(40));
  }
}

// 下層ページ
.campaign-card__pc-info {
  @include mq("md") {
    margin-top: rem(26);
  }
}