@use "global" as *;

.campaign-card {
  position: relative;
  // color: $black;
  // background-color: $white;
  transition: 0.4s;
  display: flex;
  flex-direction: column;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  display: inline-block;
}

.campaign-card__body {
  padding: rem(16);
  @include mq("md") {
    padding: rem(24) rem(16) rem(30);
  }
}

.campaign-card__img {
  position: relative;
  width: 100%;
  }

  .campaign-card__img::before {
  content:"";
  display: block;
  padding-top: 67.14%;
  }

  .campaign-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .campaign-card__category {
    max-width: rem(108);
    width: 100%;
    padding: rem(5) 0;
    border: 1px solid $green-accent;
    color: $green-accent;
    font-size: rem(12);
    display: inline-block;
    text-align: center;
    @include mq("md") {
    max-width: rem(116);
    padding: rem(6) 0;
    }
  }

  .campaign-card__title {
    font-weight: $medium;
    font-size: rem(16);
    margin-top: rem(4);
  }

  .campaign-card__text {
    margin-top: rem(8);
    padding-top: rem(8);
    border-top: 1px solid $green-accent;
    font-size: rem(14);
    text-align: center;
    @include mq("md") {
      padding-top: rem(20);
      font-size: rem(16);
      line-height: 1;
    }
  }

  .campaign-card__price {
    font-family: $third-font-family;
    font-weight: $bold;
    margin-top: rem(3);
    display: flex;
    justify-content: center;
align-items: baseline;
  }

  .campaign-card__before-price {
    font-size: rem(20);
position: relative;
@include mq("md") {
  font-size: rem(24);
}
  }
  
  .campaign-card__before-price::after {
    position: absolute;
    bottom: rem(15);
    left: 0; 
    content: "";
    background-color: #C94800;
    height: rem(3);
    width: 102%;
    @include mq("md") {
      bottom: rem(17);
    }
  }

  .campaign-card__after-price {
    font-size: rem(32);
    color: $green-accent;
    margin-left: rem(16);
    @include mq("md") {
      font-size: rem(40);
      margin-left: rem(26);
    }
  }
