@use "global" as *;

.campaign__inner.inner {
  padding-left: 0;
  padding-right: 0;
  @include mq("md") {
    max-width: rem(1110);
}
}

.campaign__cards {
  margin-top: rem(26);
  @include mq("md") {
    margin-top: rem(35);
  }
}

.campaign__btn {
  margin-top: rem(30);
  text-align: center;
  @include mq("md") {
    margin-top: rem(70);
  }
}
