@use "global" as *;

.faq-accordion p {
  border: 1px solid $green-accent;
  margin-bottom: -1px;
}

.faq-accordion__title {
  position: relative;
  padding: rem(16);
  background: $green-accent;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1;
  transition: .4s opacity;
  @include mq("md") {
    font-size: rem(20);
    padding: rem(24) rem(40);
  }
}

.faq-accordion__title:hover {
  opacity: .8;
}

.faq-accordion__icon,
.faq-accordion__icon span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

.faq-accordion__icon {
  position: relative;
  height: 1px;
  max-width: rem(30);
  width: 100%;
}

.faq-accordion__icon span {
  background-color: $white;
  border-radius: 0.1875rem;
  display: inline-block;
  height: 1px;
  left: 0;
  position: absolute;
  transition: all 0.4s;
  width: 100%;
}

.faq-accordion__icon span:nth-of-type(1) {
  top: rem(-1);
  transform: rotate(0deg);
  visibility: visible;
  opacity: 1;
}

.faq-accordion__icon span:nth-of-type(2) {
  top: rem(-1);
  transform: rotate(90deg);
}

.faq-accordion__text {
  padding: rem(16);
  height: 0;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s;
}

// 開いた時
.open.faq-accordion {
  margin-bottom: rem(40);
  @include mq("md") {
    margin-bottom: rem(38);
  }
}

.open .faq-accordion__text {
  padding: rem(22) rem(16);
  line-height: 1.45;
  height: auto;
  visibility: visible;
  opacity: 1;
  @include mq("md") {
    margin-top: rem(16);
    padding: rem(40);
  }
}

/*＋、－切り替え*/
.open .faq-accordion__icon span:nth-of-type(1) {
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
}
.open .faq-accordion__icon span:nth-of-type(2) {
  transform: rotate(180deg);
}
