@use "global" as *;

.footer {
  background-color: $green-accent;
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq("md") {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.footer__head {
  @include mq("md") {
    display: flex;
    align-items: end;
  }
}

.footer__logo {
  width: 100%;
  max-width: rem(120);
  @include mq("md") {
    max-width: rem(200);
  }
}

.footer__link-items {
  display: flex;
  margin-top: rem(16);
  @include mq("md") {
    margin-top: 0;
    margin-left: rem(42);
  }
}

.footer__icon-face {
  display: inline-block;
  max-width: rem(21);
  width: 100%;
  @include mq("md") {
    max-width: rem(28);
  margin-top: rem(3);
  }
}

.footer__icon-insta {
  display: inline-block;
  max-width: rem(24);
  width: 100%;
  margin-left: rem(20);
  @include mq("md") {
    max-width: rem(32);
    margin-left: rem(18);
  }
}

.footer__sp-nav {
  display: flex;
  margin-top: rem(14);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  @include mq("md") {
    margin-left: auto;
    margin-right: auto;
    margin-top: rem(5);
  }
}

.footer__sp-nav .sp-nav__item--left > a {
  @include mq("md") {
    background-position: 0;
    padding-left: rem(22);
  }
}


.footer__sp-nav .sp-nav__wrap + .sp-nav__wrap {
  @include mq("md") {
    margin-left: rem(120);
  }
}

.footer__sp-nav .sp-nav__wrap {
  width: initial;
  margin-right: auto;
  @include mq("md") {
    margin-right: initial;
    
  }
}

.footer__sp-nav .sp-nav__items + .sp-nav__items {
  @include mq("md") {
    margin-left: 120px;
  }
}

.footer__copy {
  font-size: rem(12);
  font-family: $second-font-family;
  color: $white;
  text-align: center;
  margin-top: rem(20);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  @include mq("md") {
    font-size: rem(14);
    margin-top: rem(58);
    margin-left: auto;
    margin-right: auto;
  }
}

// .sp-nav__item-title span {
//   @include mq("md") {
//     text-indent: 0.5em;
//   }
// }
// .u-mobile {
  
//   display: initial;
// }
