@use "global" as *;

.footer {
  background-color: $green-accent;
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq("md") {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.footer__inner {
  max-width: rem(600);
}

.footer__head {
  @include mq("md") {
    display: flex;
    align-items: end;
  }
}

.footer__logo {
  width: 100%;
  max-width: rem(120);
  @include mq("md") {
    max-width: rem(200);
  }
}

.footer__link-items {
  display: flex;
  margin-top: rem(16);
  @include mq("md") {
    margin-top: 0;
    margin-left: rem(42);
  }
}

.footer__link-item1 a {
  display: inline-block;
  max-width: rem(21);
  width: 100%;
  cursor: pointer;
  transition: opacity 0.4s;
  margin-top: rem(3);
  @include mq("md") {
    max-width: rem(28);
  }
}

.footer__link-item2 a {
  display: inline-block;
  max-width: rem(24);
  width: 100%;
  margin-left: rem(20);
  cursor: pointer;
  transition: opacity 0.4s;
  @include mq("md") {
    max-width: rem(32);
    margin-left: rem(18);
  }
}

.footer__link-item1 a:hover,
.footer__link-item2 a:hover {
  opacity: 0.7;
}

////////////////
// 　footer　ナビ
////////////////

.footer__nav-block {
  display: flex;
  margin-top: rem(15);
  width: 100%;
  margin-right: calc(50% - 50vw);
  @include mq("md") {
    margin-left: 0;
    margin-right: auto;
    margin-top: rem(5);
  }
}

////////////////
//   コピーライト
////////////////

.footer__copy {
  font-size: rem(12);
  font-family: $second-font-family;
  color: $white;
  text-align: center;
  margin-top: rem(20);

  @include mq("md") {
    font-size: rem(14);
    margin-top: rem(58);
    margin-left: auto;
    margin-right: auto;
  }
}
