@use "global" as *;
@use "sass:math";
// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
  @return math.div($pixels, 16) * 1rem;
}

/*デフォルト色の指定*/
$border-cr-default: #408f95; //デフォルト時のボーダーの色
$border-cr: #408f95; //inputのhover or focus時の色
$back-cr: #fff; //input（テキスト系）の背景色

/*サイズ等の指定*/
$fz: rem(16); //入力するときのfont-size
$padding-und: rem(7); //paddingの指定（上下） inputの内側の余白で使う
$padding-lnr: rem(16); //paddingの指定（左右） inputの内側の余白で使う
$border-r: rem(6);
//border-radius（テキスト系）

/*ボタン系の指定*/
$fz-btn: rem(16); //送信ボタンのfont-size
$back-cr-btn: #408f95; //ボタンの背景色
$font-cr-btn: white; //ボタンのフォントカラー
$padding-und-btn: rem(20); //paddingの指定（上下） btnの内側の余白で使う
$padding-lnr-btn: rem(72); //paddingの指定（左右） btnの内側の余白で使う
$border-r-btn: rem(50);

/*チェックボックスの指定*/
$check-fz: rem(16); //フォントサイズ
$check-size: rem(14); //外枠の幅高さ
$check-bg-cr: #fff; //外枠の背景色
$check-border-cr: #408f95; //外枠の色
$check-bg-cr-inner: #c94800; //チェックマークの背景色
$check-space: rem(9); //チェックマークと文字の距離
$check-space-betweenRadio: rem(20); //ラジオボタンの間の距離
$check-weight: 2px; //チェックマークの線の太さ(px)

/*テキストエリアの指定*/
$textarea-height: rem(200);

[type="text"],
[type="search"],
[type="tel"],
[type="url"],
[type="email"],
[type="password"],
[type="date"],
textarea {
  /*↓リセットCSS */
  border: none;
  border-radius: 0;
  background-image: none;
  font-family: inherit;
  /*↓カスタム */
  margin-top: rem(16);
  font-size: $fz;
  padding: $padding-und $padding-lnr;
  width: 100%;
  background: $back-cr;
  border: 1px solid $border-cr-default;
  /*↓↓選択されているときの色*/
  &:focus {
    border: 1px solid $border-cr;
  }
  @include mq("md") {
    margin-top: 0;
  }
}

[type="tel"] {
  width: 100%;
}

form button,
form [type="button"],
form [type="submit"] {
  /*↓リセットCSS */
  margin: 0;
  background-image: none;
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 0;
  width: 100%;
  height: 100%;
}

[type="checkbox"] {
  display: none;

  + span {
    display: inline-block;
    position: relative;
    padding: 0 0 0 calc($check-size + $check-space);
    font-size: $check-fz;
    line-height: 1.7;
    cursor: pointer;
    transition: 0.3s ease;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: $check-bg-cr;
      border: 1px solid $check-border-cr;
      width: $check-size;
      height: $check-size;
      display: block;
    }

    &::after {
      opacity: 0;
      transition: 0.3s ease;
    }
  }

  &:checked + span {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      opacity: 1;
      /*チェックマークじゃない場合は以下を変更する*/
      transform: translateY(-50%) rotate(-34deg);
      width: rem(9);
      height: rem(4);
      margin-top: -0.063em;
      margin-left: 0.188em;
      border-left: $check-weight solid $check-bg-cr-inner;
      border-bottom: $check-weight solid $check-bg-cr-inner;
    }
  }
}

select {
  /*↓リセットCSS */
  border-radius: 0;
  font-family: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  width: 100%;
  /*↓カスタム */
  margin-top: rem(10);
  font-size: rem(12);
  padding: rem(10) rem(7);
  background-color: $back-cr;
  border: 1px solid $border-cr-default;
  @include mq("md") {
    padding: rem(5) rem(7);
  }
  &:focus {
    border: 1px solid $border-cr;
  }
}

[type="date"] {
  position: relative;
  &:focus {
    border-color: 1px solid $border-cr;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.form dl:not(:first-child) {
  margin-top: rem(24);
  padding-top: rem(22);
  @include mq("md") {
    margin-top: rem(40);
    padding-top: rem(38);
  }
}
// 線
.form dl:not(:first-child) {
  background-image: linear-gradient(
    to right,
    $green-accent 3px,
    transparent 3px
  );
  background-size: 4px 1px;
  background-repeat: repeat-x;
  background-position: left top;
}

.form__personal-info {
  background-image: linear-gradient(
    to right,
    $green-accent 3px,
    transparent 3px
  );
  background-size: 4px 1px;
  background-repeat: repeat-x;
  background-position: left top;
}

// ↑スニペット　↓追加

// 全体
.form dl {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
  }
}

.form dt {
  position: relative;
  z-index: 1;
  font-weight: $bold;
  @include mq("md") {
    width: 31.43%;
  }
}

.form dd {
  @include mq("md") {
    width: 68.57%;
  }
}

::placeholder {
  color: #ddf0f1;
}

// 必須　ラベル
.form__label {
  display: inline-block;
  color: $white;
  background: $red;
  text-align: center;
  letter-spacing: 0.4em;
  font-size: rem(12);
  margin-left: rem(4);
  padding: rem(1.5) rem(13) rem(1.5) rem(16);
}

// お問い合わせ項目
.form dl.form__checkbox {
  @include mq("md") {
    margin-top: rem(40);
    letter-spacing: 0;
  }
}

.form__checkbox dd {
  margin-top: rem(13);
  @include mq("md") {
    margin-top: 0;
  }
}

.form__checkbox label {
  display: block;
}

// キャンペーン
.form dl.form__select {
  margin-top: rem(21);
}

.form__select select {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: 0;
  }
}

// キャンペーン　セレクトボックスの△
select {
  -webkit-appearance: none;
  appearance: none; /* デフォルトの矢印を非表示 */
}

select::-ms-expand {
  display: none; /* デフォルトの矢印を非表示(IE用) */
}

.form__select dd {
  position: relative;
}

.form__select dd::after {
  border-left: rem(5) solid transparent;
  border-right: rem(5) solid transparent;
  border-top: rem(9.5) solid $green-accent;
  content: "";
  position: absolute;
  right: rem(9);
  top: 50%;
  transform: translateY(50%);
  @include mq("md") {
    top: 40%;
    transform: none;
  }
}

// お問い合わせ内容
textarea {
  height: $textarea-height;
  width: 100%;
}

// 個人情報
.form__personal-info {
  margin-top: rem(18);
  padding-top: rem(40);
  @include mq("md") {
    margin-top: rem(33);
    padding-top: rem(78);
  }
}

.form__personal-info-inner {
  padding: 0 rem(30);
  text-align: center;
}

// 個人情報　チェックボックス
.form__personal-info [type="checkbox"] {
  display: none;

  + span {
    display: inline-block;
    position: relative;
    padding: 0 0 0 calc($check-size + $check-space);
    font-size: $check-fz;
    line-height: 1.7;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 0;
    font-size: rem(14);
    line-height: 1.6;
    padding: 0 0 0 rem(30);
    text-align: left;
    @include mq("md") {
      padding: 0 0 0 rem(38);
    }

    &::before {
      position: absolute;
      content: "";
      background: $check-bg-cr;
      border: 1px solid $check-border-cr;
      display: block;
      height: rem(23);
      width: rem(23);
      left: 0;
      top: rem(10);
    }

    &::after {
      opacity: 0;
      transition: 0.3s ease;
    }
  }

  // チェックマーク
  &:checked + span {
    &::after {
      border-bottom: rem(3) solid #c94800;
      border-left: rem(3) solid #c94800;
      content: "";
      display: block;
      height: rem(7);
      left: rem(1);
      margin-left: 0.188em;
      margin-top: -0.437em;
      opacity: 1;
      position: absolute;
      top: 25%;
      transform: rotate(-34deg);
      width: rem(17);
      @include mq("md") {
      margin-top: -0.063em;
      }
    }
  }
}

// 送信ボタン
.form__btn {
  text-align: center;
  margin-top: rem(22);
  @include mq("md") {
    margin-top: rem(37);
  }
}

// 未送信
.sub-contact__error {
  display: none;
  color: $red;
  margin-bottom: rem(40);
  width: 100%;
  max-width: rem(224);
  font-size: rem(14);
    margin-left: auto;
    margin-right: auto;
  @include mq("md") {
    max-width: rem(350);
    
  }
}

// .sub-contact__error p:not(:first-child) {
//   text-indent: 1em;
// }

.active.sub-contact__error {
  display: block;
}

// .required[type="text"],
// .required[type="tel"],
// .required[type="email"],
// .required[type="date"],
// .required[type="checkbox"] + span::before,
// .required.textarea {
//   background: rgba(201, 72, 0, 0.20);
//   border: 1px solid $red;
// }

// .required::placeholder {
//   color: $white;
// }