@use "global" as *;

.gallery__box {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.gallery__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(8);
  @include mq("md") {
    grid-auto-flow: dense;
    grid-template-rows: repeat(4, rem(369));
    grid-template-columns: 1fr rem(80) 1fr;
    // grid-auto-columns: 1fr 1fr;
  }
}

.gallery__item img {
  @include mq("md") {
    height: 100%;
  }
}

.gallery__item {
  aspect-ratio: 345 / 219;
  @include mq("md") {
    aspect-ratio: 580 / 369;
    grid-column: span 2;
  }
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 1個目と6個目、7個目と12個目、18個目に適用するスタイルを指定 */
// .gallery__item:nth-child(6n - 1),
.gallery__item:nth-child(6n),
.gallery__item:nth-child(6n + 1) {
  aspect-ratio: 345 / 523;
  @include mq("md") {
    aspect-ratio: 492 / 746;
    grid-row: span 2;
    grid-column: 1;
  }
}

// 並び
// .gallery__item:nth-child(6n - 1) {
//   order: 6;
//   @include mq("md") {
//     order: 4;
//   }
// }
