@use "global" as *;


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: rem(80);
  background-color: rgba(13, 41, 54, 0.68);
  transition: 0.4s;
  @include mq("md") {
    height: rem(90);
  }
}

.header__inner {
  height: inherit;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $padding-sp;
  padding-right: $padding-sp;
  
  @include mq("md") {
    padding-left: rem(40);
    padding-right: rem(40);
  }
}

.header__logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  z-index: 2;
}

.active.header {
  background-color: #111;
}

////////////////
//   メニュー
////////////////

.panelactive.header__sp-nav {
  display: flex;
  background-color: $green-accent;
  width: 100%;
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
  padding: 85px 0 50px;
}

.header__pc-nav {
  display: none;
  @include mq("md") {
    display: block;
    height: inherit;
  }
}

/////////////////
// mv過ぎたら黒
/////////////////

.header.is-color {
  background-color: #9A9A9A;
}

////////////////
//   ハンバーガー
////////////////

.header__hamburger {
  position: relative;
  top: 0;
  right: 0;
  width: rem(32);
}