@use "global" as *;


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: rem(80);
  background-color: rgba(13, 41, 54, 0.68);
  transition: 0.4s;
  @include mq("md") {
    height: rem(90);
  }
}

.header__inner {
  height: inherit;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $padding-sp;
  padding-right: $padding-sp;
  
  @include mq("md") {
    padding-left: rem(40);
    padding-right: rem(21);
  }
}

.header__logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  z-index: 2;
}

// .active.header {
//   background-color: #111;
// }

////////////////
//   メニュー
////////////////

.header__sp-nav {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  background-color: $green-accent;
  padding: rem(85) 0 rem(50);
  transition: opacity 0.4s,visibility 0.4s linear;
  visibility:hidden;
  z-index: 1;
}

.panelactive.header__sp-nav {
  pointer-events: auto;
  opacity: 1;
  visibility:visible;
}

.header__pc-nav {
  display: none;
  @include mq("md") {
    display: block;
    height: inherit;
  }
}

.header__sp-nav ul:nth-of-type(2) {
  padding-bottom: 100px;
}

/////////////////
// mv過ぎたら黒
/////////////////

.header.is-color {
  background-color: #9A9A9A;
}

////////////////
//   ハンバーガー
////////////////

.header__hamburger {
  position: relative;
  top: 0;
  right: 0;
  width: rem(32);
}