@use "global" as *;

.pagination-container {
    margin-top: rem(80);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 rem(12);
  list-style-type: none;
  padding: 0;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.375em;
  height: 2.375em;
  border: 1px solid $green-accent;
  border-radius: 1px;
  color: $green-accent;
  background: $white;
  font-family: $third-font-family;
  font-weight: $bold;
}

.pagination .active a {
  background: $green-accent;
  color: $white;
}

.pagination li:nth-child(6),
.pagination li:nth-child(7) {
  display: none;
  @include mq("md") {
    display: inline-block;
  }
}

.prev {
  margin-right: rem(28);
}

.prev a::after {
  position: absolute;
  content: "";
  border-bottom: solid 1px $green-accent;
  border-left: solid 1px $green-accent;
  height: rem(12);
  width: rem(12);
  left: 45%;
  top: 30%;
  transform: rotate(45deg);
  cursor: pointer;
}

.prev a {
  position: relative;
  transition: all .4s;
}

.prev a:hover {
  background: $green-accent;
}

.prev a:hover::after {
  border-bottom: solid 1px $white;
  border-left: solid 1px $white;
}

.next {
  margin-left: rem(28);
}

.next a::after {
  position: absolute;
  content: "";
  border-bottom: solid 1px $green-accent;
  border-left: solid 1px $green-accent;
  height: rem(12);
  width: rem(12);
  left: 25%;
  top: 30%;
  transform: rotate(-135deg);
  cursor: pointer;
}

.next a {
  position: relative;
  transition: all .4s;
}

.next a:hover {
  background: $green-accent;
}

.next a:hover::after {
  border-bottom: solid 1px $white;
  border-left: solid 1px $white;
}

