@use "global" as *;

.page-top {
  position: fixed;
  right: rem(15);
  bottom: rem(15);
  margin: 0;
  transition: all .4s;
  @include mq("md") {
    right: rem(20);
    bottom: rem(20);
  }
}

.page-top a {
  position: relative;
  display: block;
  transition: all .4s;
}
