@use "global" as *;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 rem(12);
  list-style-type: none;
  padding: 0;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.375em;
  height: 2.375em;
  border: 1px solid $green-accent;
  border-radius: 1px;
  color: $green-accent;
  font-family: $third-font-family;
  font-weight: $bold;
}

.pagination a:not(:hover) {
  text-decoration: none;
}

.pagination .current a {
  background-color: $green-accent;
  color: $white;
  pointer-events: none;
}

.pagination__arrow-prev a {
  position: relative;
}

.pagination__arrow-prev a::after {
  position: absolute;
  content: "";
  border-bottom: solid 1px $green-accent;
  border-left: solid 1px $green-accent;
  position: absolute;
  height: rem(12);
  width: rem(12);
  left: 45%;
  top: 30%;
  transform: rotate(45deg);
}

.pagination:not(:first-child) {
  margin-left: rem(40);
}

.pagination__arrow-next a {
  position: relative;
}

.pagination__arrow-next a::after {
  position: absolute;
  content: "";
  border-bottom: solid 1px $green-accent;
  border-left: solid 1px $green-accent;
  height: rem(12);
  width: rem(12);
  left: 25%;
  top: 30%;
  transform: rotate(-135deg);
}

// HPより
.active {
  background-color: $green-accent;
}

.pagination .active a {
  color: $white;
}