@use "global" as *;

.pc-info__guide {
  color: $green-accent;
  text-align: center;
    margin-top: rem(32);

}

.pc-info__guide:first-child {
  font-family: $third-font-family;

}

.pc-info__guide:nth-child(2) {
    margin-top: rem(7);

}


.pc-info__btn {

  @include mq("md") {
    margin-top: rem(16);
  }
}