@use "global" as *;

.pc-info__guide {
  color: $green-accent;
  text-align: center;
    margin-top: rem(32);

}

.pc-info__guide p:first-child {
  font-family: $third-font-family;    letter-spacing: .03em;

}

.pc-info__guide p:nth-child(2) {
font-size: rem(14);
}


.pc-info__btn {
    margin-top: rem(15);
}