@use "global" as *;

.pc-nav {
  height: inherit;
}

.pc-nav__items {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
}

.pc-nav__item {
  height: inherit;
}

.pc-nav__item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // display: inline-block;
  height: inherit;
  padding: 0 rem(20);
  color: $white;
}

.pc-nav__item span {
  display: block;
  text-align: center;
}

.pc-nav__item span:nth-child(1) {
  font-family: $second-font-family;
  font-size: rem(18);
}

.pc-nav__item span:nth-child(2) {
  font-size: rem(10);
}

////////////////
// nav 下線
////////////////

.pc-nav__item a {
  @include mq("md") {
    position: relative;
  }
}

.pc-nav__item a::after {
  @include mq("md") {
    content: '';
  position: absolute;
  bottom: rem(20);
  left: 15%;
  width: 70%;
  height: rem(1);
  background: $white;
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  }
}

.pc-nav__item a:hover::after {
  @include mq("md") {
    transform: scale(1, 1);/*X方向にスケール拡大*/
    // visibility: visible;
  }
}
