@use "global" as *;

.price-table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  z-index: 1;
  position: relative;
}

.price-table:not(:first-child) {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.price-table__title {
  padding: 8px 0;
  color: $white;
  font-weight: bold;
  background: $green-accent;
}

.price-table__title div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(8);
  @include mq("md") {
    flex-direction: column;
  }
}

.price-table__title span {
  white-space: nowrap;
  @include mq("md") {
    display: block;
  }
}

.price-table th,
.price-table td {
  height: rem(60);
  font-weight: $regular;
  border: solid 1px $green-accent;
  background: $white;
  padding: 0;
  @include mq("md") {
  height: rem(60);
  }
}

.price-table th {
width: 69.56%;
@include mq("md") {
  width: 48.57%;
  text-align: left;
  padding: 0 rem(16);
}
}

.price-table td {
width: 30.44%;
  text-align: right;
  padding-right: rem(16);
@include mq("md") {
  width: 22.86%;
}
}

.price-table__img {
  display: inline-block;
  height: auto;
  max-width: rem(24);
  width: 100%;
  @include mq("md") {
    max-width: rem(64);
    order: 2;
  }
}

.price-table .price-table__title--pc {
  display: none;
  @include mq("md") {
    display: table-cell;
    background: $green-accent;
    width: 28.57%;
  }
}
