@use "global" as *;

.section-title__en {
  font-family: $second-font-family;
  text-align: center;
  font-size: rem(32);
  line-height: 1;
  @include mq("md") {
    font-size: rem(40);
  }
}

.section-title__en span {
  color: $green-accent;
  text-transform: capitalize;
}

.section-title__ja {
  text-align: center;
  color: $green-accent;
  font-size: rem(12);
  margin-top: rem(7);
}

.section-title--l p {
  font-size: rem(80);
  line-height: 0.8;
}

.section-title--l h2 {
  font-size: rem(12);
  margin-top: rem(2);
}

.section-title--white h2,
.section-title--white span,
.section-title--white p {
  @include mq("md") {
    color: $white;
  }
}