@use "global" as *;

.section-title__en {
  font-family: $second-font-family;
  text-align: center;
  font-size: rem(32);
  line-height: 1;
  @include mq("md") {
    font-size: rem(40);
  }
}

.section-title__en span {
  color: $green-accent;
  text-transform: capitalize;
}

.section-title__ja {
  text-align: center;
  color: $green-accent;
  font-size: rem(12);
  // @include mq("md") {
    margin-top: rem(7);
  // }
}