@use "global" as *;

.site-map__inner {
  max-width: rem(600);
  @include mq("md") {
    max-width: rem(1130);
  }
}

.site-map__nav {
  display: flex;
}

.site-map__wrap {
  width: initial;
  width: 100%;
  @include mq("md") {
    margin-right: initial;
    display: flex;
    width: 50%;
  }
}

.site-map__items {
  height: inherit;
  width: inherit;
  @include mq("md") {
    width: 50%;
  }
}

.site-map__item-title {
  padding: rem(8) 0;
}

.site-map__item-title > a {
  display: block;
  width: 100%;
  width: initial;
  color: $black;
  font-weight: $bold;
  padding: rem(12) 0;
  padding-left: rem(22);
  background-image: url(../images/common/site-map-star.png);
  background-size: rem(18);
  background-repeat: no-repeat;
  background-position: 0 rem(12);
  line-height: 1.125;
  transition: opacity 0.4s;
  position: relative;
  z-index: 1;
  @include mq("md") {
    padding-left: rem(22);
    background-position: rem(0) rem(12);
  }
}

.site-map__item-title a:hover {
  opacity: 0.7;
}

.site-map__item li {
  display: block;
  width: 100%;
  width: initial;
  color: $black;
  padding: rem(12) 0;
  padding-left: rem(22);
  line-height: 1.125;
  position: relative;
  z-index: 1;
  @include mq("md") {
    padding-left: rem(22);
  }
}

.site-map__wrap--space > a {
  padding-left: rem(22);
  background-position: 0 rem(12);
}

// br
.site-map__item-title--br {
  font-size: 0;
}

.site-map__item-title--br span {
  font-size: rem(16);
}