@use "global" as *;

.sp-nav {
  z-index: 1;
  overflow: scroll;
  @include mq("md") {
    display: none;
  }
}

.sp-nav__box {
  display: flex;
  overflow: auto;
  width: 100%;
  padding: rem(84) 0 rem(50);
  max-width: rem(600);
  margin: 0 auto;
}

.sp-nav__wrap {
  width: 50%;
}

.sp-nav__items {
  height: inherit;
}

.sp-nav__item-title {
  padding: rem(8) 0;
}

.sp-nav__item-title > a {
  color: $white;
  padding: rem(12) 0;
  padding-left: rem(37);
  background-image: url(../images/common/menu-star.png);
  background-size: rem(18);
  background-repeat: no-repeat;
  background-position: rem(15) rem(12);
  display: block;
  width: 100%;
  line-height: 1.125;
  font-weight: $bold;
  transition: opacity 0.4s;
}

.sp-nav__item-title a:hover {
  opacity: 0.7;
}

.sp-nav__item li {
  display: block;
  width: 100%;
  line-height: 1.125;
  padding: rem(12) 0;
  padding-left: rem(37);
  color: $white;
}

.sp-nav__wrap--space > a {
  padding-left: rem(22);
  background-position: 0 rem(12);
}

.sp-nav__wrap--space .sp-nav__item li {
  padding-left: rem(37);
}
