@use "global" as *;

.sp-nav {
  // display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  // background-color: #111;
  transition: opacity 0.3s linear;
  opacity: 0;
  pointer-events: none;
  z-index: 1;

  @include mq("md") {
    display: none;
  }
}

.sp-nav__wrap {
  width: 50%;
  // width: 46%;
  @include mq("md") {
    display: flex;
  }
  // padding-top: rem(104);
  // padding-bottom: rem(100);
}

.sp-nav__items {
  height: inherit;
  overflow: scroll;
}

.sp-nav__item a {
  display: block;
  width: 100%;
  line-height: 1.125;
  padding: rem(12) 0;
  color: $white;
  // letter-spacing: 0.125em;
  // text-align: center;
  padding-left: rem(37);
  padding-left: rem(22);

}

.sp-nav__item a:hover {
  opacity: 0.7;
}

.sp-nav__item-title > a {
  color: $white;
  // padding: rem(20) 0;
  padding: rem(12) 0;
  padding-left: rem(37);
  padding-left: rem(22);
  background-image: url(../images/common/menu-star.png);
  background-size: rem(18);
  background-repeat: no-repeat;
  background-position: rem(15) rem(12);
  background-position: 0 rem(12);
  display: block;
  width: 100%;
  line-height: 1.125;
  font-weight: $bold;
}

.sp-nav__item-title {

  padding: rem(8) 0;
}

.sp-nav__item--left > a {
  padding-left: rem(37);
  background-position: rem(15) rem(12);
}