@use "global" as *;

.sub-information__tab {
  display: flex;
  // gap: rem(15) rem(20);
  gap: rem(15) 5.66%;
  flex-wrap: wrap;
  @include mq("md") {
    gap: rem(25) 8.3%;
  }
}

.sub-information__tab-label {
  color: $green-accent;
  background: #ddf0f1;
  padding: rem(10) 0;
  text-align: center;
  font-size: 0;
  font-weight: $regular;
  box-shadow: rem(2) rem(2) rem(4) 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
  order: -1;
  width: 29.56%;
  @include mq("md") {
    padding: rem(13) 0 rem(13) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27.8%;
  }
}


.sub-information__tab-label span {
  font-size: rem(14);
  @include mq("md") {
    font-size: rem(24);
    white-space: nowrap;
  }
}

.sub-information__tab-label span:first-child {
  position: relative;
  height: rem(64);
  width: rem(64);
  margin-right: rem(8);
}

.sub-information__tab-label span:first-child::before {
  @include mq("md") {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../images/common/sub-info-btn1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 0;
left: 0;
right: 0;
  }
}

.sub-information__tab-label--2 span:first-child::before {
  @include mq("md") {
    background-image: url(../images/common/sub-info-btn2.png);
  }
}

.sub-information__tab-label--3 span:first-child::before {
  @include mq("md") {
    background-image: url(../images/common/sub-info-btn3.png);
  }
}

// 内容
.sub-information__tab-content {
  width: 100%;
  display: none;
}

/* アクティブなタブ */
.sub-information__tab-switch:checked + .sub-information__tab-label {
  position: relative;
  background: $green-accent;
  color: $white;
  z-index: 1;
}

.sub-information__tab-switch:checked + .sub-information__tab-label span::before {
  filter: brightness(1000%);
}

.sub-information__tab-switch:checked
  + .sub-information__tab-label
  + .sub-information__tab-content {
  display: block;
}

/* ラジオボタン非表示 */
.sub-information__tab-switch {
  display: none;
}

.sub-information__tab-inner input[type="radio"] {
  margin: 0;
}

.sub-information__inner {
  max-width: rem(600);
  // padding-right: 14px;
  // padding-left: 14px;
}

.sub-information__box {
  border: 1px solid $green-accent;
  padding: rem(16) rem(24) rem(20);
  @include mq("md") {
    border: 2px solid $green-accent;
    padding: rem(24);
    display: flex;
    gap: 4.66%;
    align-items: center;
    justify-content: center;
  }
}

.sub-information__body {
  @include mq("md") {
    width: 47.67%;
  }
}

.sub-information__title {
  font-size: rem(24);
  font-weight: $bold;
  line-height: 1.6;
  border-bottom: 1px solid $green-accent;
  @include mq("md") {
    line-height: 1;
    padding-bottom: rem(8);
    font-size: rem(24);
  }
}

.sub-information__text {
  margin-top: rem(8);
  @include mq("md") {
    line-height: 1.5;
  }
}

.sub-information__img {
  position: relative;
  margin-top: rem(8);
  @include mq("md") {
    margin-top: 0;
    width: 47.67%;
  }
}

.sub-information__img::before {
  content: "";
  display: block;
  padding-top: 63.61%;
}

.sub-information__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
