@use "global" as *;

.sub-blog {
  @include mq("md") {
    position: relative;
  }
}

.sub-blog__inner {
  max-width: rem(600);
  padding-left: rem(20);
  padding-right: rem(20);
  @include mq("md") {
    display: flex;
    gap: 7.41%;
  }
}

.sub-blog__main {
  width: 100%;
  @include mq("md") {
    width: 65.37%;
  }
}

.sub-blog__aside {
  width: 100%;
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(2);
    width: 27.5%;
  }
}

.sub-blog__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}

.sub-blog__inner--article {
  padding-left: rem(15);
  padding-right: rem(15);
  @include mq("md") {
    gap: 8%;
  }
}

// ブログ記事ページのページネーション
.sub-blog__inner--article .pagination-container {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.sub-blog__inner--article .pagination {
  gap: 0 rem(26);
}

.sub-blog__inner--article .page {
  display: none;
}

