@use "global" as *;

.sub-blog {
  @include mq("md") {
    position: relative;
  }
}

.sub-blog__inner {
  max-width: rem(600);
  padding-left: 20px;
  padding-right: 20px;
  @include mq("md") {
    display: flex;
    gap: 7.41%;
  }
}

.sub-blog__main {
  width: 100%;
  @include mq("md") {
    width: 65.37%;
  }
}

.sub-blog__aside {
  width: 100%;
  margin-top: rem(80);
  @include mq("md") {
    margin-top: 0;
    width: 27.22%;
  }
}

.sub-blog__pagination {
  margin-top: rem(80);
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  width: auto;
  @include mq("md") {
    margin-right: auto;
    margin-left: auto;
  }
}

.sub-blog__pagination-inner {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-blog__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}
