@use "global" as *;

.sub-contact__inner {
  @include mq("md") {
    max-width: rem(750);
    width: 100%;
  }
}

// 未入力エラー
.sub-contact__error {
  display: none;
  color: $red;
  margin-bottom: rem(40);
  width: 100%;
  max-width: rem(224);
  font-size: rem(14);
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    max-width: rem(366);
  }
}

.active.sub-contact__error {
  display: block;
}
