@use "global" as *;

////////////////
//   top-mv swiper
////////////////

.swiper-wrap {
  margin-right: calc(50% - 50vw);
  width: 100%;
  position: relative;
  overflow: hidden;
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.swiper-slide-active .top-mv__slide-img,
.swiper-slide-duplicate-active .top-mv__slide-img,
.swiper-slide-prev .top-mv__slide-img {
  animation: zoom-in 10s linear 0s 1 normal both;
}

.swiper,
.swiper-container {
  z-index: 0;
}

////////////////
//   campaign„ÅÆswiper
////////////////

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  top: rem(-100);
  left: auto;
  right: var(--swiper-navigation-sides-offset, rem(175));
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  top: rem(-100);
  left: 0;
  left: initial;
  right: var(--swiper-navigation-sides-offset, rem(15));
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 0;
}

:root {
  --swiper-navigation-size: initial;
}

.swiper-button-next,
.swiper-button-prev {
  color: transparent;
}
