@use "global" as *;

////////////////
//   top-mv swiper
////////////////

.swiper-wrap {
  margin: 0 calc(50% - 50vw);
  max-width: 100vw;
  position: relative;
  overflow: hidden;
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.swiper-slide-active .top-mv__slide-img,
.swiper-slide-duplicate-active .top-mv__slide-img,
.swiper-slide-prev .top-mv__slide-img {
  animation: zoom-in 10s linear 0s 1 normal both;
}

.swiper, .swiper-container {
  z-index: 0;
}

////////////////
//   campaign„ÅÆswiper
////////////////

.swiper-button-prev, .swiper-rtl .swiper-button-next {

top: rem(-105);
  // left: initial;
  // left: 0;
  // left: initial;
  left: auto;
  right: var(--swiper-navigation-sides-offset,175px);}

.swiper-button-next, .swiper-rtl .swiper-button-prev { 
    // right: var(--swiper-navigation-sides-offset, rem(50));
  top: rem(-105);
// left: initial;
left: 0;
left: initial;
  right: var(--swiper-navigation-sides-offset,15px);
  
}

.swiper-button-next, .swiper-button-prev {
  z-index: 0;
}

:root {
  // --swiper-navigation-size: 44px;
  --swiper-navigation-size: initial;
}