@use "global" as *;

.terms-of-service {
  line-height: 2;
}

.terms-of-service__inner {
  @include mq("md") {
    max-width: rem(850);
  }
}

.terms-of-service__title {
  font-weight: $medium;
  @include mq("md") {
    font-size: rem(32);
  }
}

.terms-of-service__top-text {
  margin-top: rem(35);
  margin-bottom: rem(30);
  @include mq("md") {
    margin-top: rem(30);
    margin-bottom: rem(32);
  }
}

.terms-of-service__list-items {
  padding-left: rem(24);
  list-style-type: decimal;
  margin-top: rem(33);
}

.terms-of-service__bottom-text {
  margin-top: rem(30);
}
