@use "global" as *;

.top-about__inner {
  margin-top: rem(28);
  @include mq("md") {
    margin-top: rem(40);
    position: relative;
  }
}

.top-about__img-block {
  position: relative;
}

.top-about__img {
  position: relative;
  width: 100%;
  right: 0;
  margin-left: auto;
}

.top-about__img::before {
  content: "";
  display: block;
  padding-top: 61.44%;
}

.top-about__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-about__text-block {
  @include mq("md") {
    display: flex;
    position: absolute;
    top: rem(200);
    right: rem(65);
    max-width: rem(840);
  }
}

.top-about__title {
  font-family: $second-font-family;
  font-size: rem(40);
  color: $green-accent;
  margin-top: rem(40);
  line-height: 1;
  @include mq("md") {
    margin-top: 0;
    font-size: rem(80);
    width: 50%;
    line-height: 1.25;
    color: $white;
  }
}
.top-about__text-wrap {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: 0;
    width: 50%;
    color: $white;
    margin-left: rem(40);
  }
}

.top-about__text {
  line-height: 1.5;
}

.top-about__btn {
  margin-top: rem(40);
  text-align: center;
}

.top-about__decoration {
  max-width: rem(194);
  position: absolute;
  bottom: -90px;
  right: -72px;
  // margin-left: calc(50% + 700px);
  // transform: translateX(-50%);
}