@use "global" as *;

.top-campaign__inner {
  padding-left: rem(15);
@include mq("md") {
  max-width: rem(1160);
}
}

.top-campaign__cards {
  margin-top: rem(26);
  @include mq("md") {
    margin-top: rem(35);
  }
}

.top-campaign__btn {
  margin-top: rem(30);
  text-align: center;
  @include mq("md") {
    margin-top: rem(70);
  }
}

.top-campaign__swiper {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-top: rem(5);
  padding-left: rem(15);
  padding-bottom: rem(10);
  @include mq("md") {
    margin-left: auto;
  }
}