@use "global" as *;

.top-price {
  padding-top: rem(85);
  padding-bottom: rem(80);
  background-color: $back-green;
  @include mq("md") {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}

.top-price__inner {
  margin-top: rem(28);
  max-width: rem(600);
  @include mq("md") {
  display: flex;
  gap: 8.64%;
  margin-top: rem(40);
	flex-direction: row-reverse;
  }
}

.top-price__img {
  position: relative;
  width: 100%;
  @include mq("md") {
    width: 45.68%;
  }
  }

  .top-price__img::before {
  content:"";
  display: block;
  padding-top: 65.79%;
  @include mq("md") {
    padding-top: 65.95%;
  }
  }

  .top-price__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

.top-price__text-block {
  // order: 0;
  margin-top: rem(40);
  @include mq("md") {
    width: 45.68%;
    margin-top: 0;
    padding-bottom: rem(98);
  }
}

.top-price__list-items li:first-of-type {
  margin-top: 0;
}

.top-price__list-item {
  margin-top: rem(40);
}

.top-price__list-item h3 {
  display: block;
  border-bottom: 1px solid $green-accent;
  padding-bottom: rem(4);
  font-weight: bold;
  font-size: rem(16);
}

.top-price__list-item div {
  display: flex;
  justify-content: space-between;
  margin-top: rem(7.8);
  font-size: rem(14);
  line-height: 1.714;
  @include mq("md") {
    font-size: rem(16);
    line-height: 1.5;
  }
}

.top-price__list-item dt {
  letter-spacing: 0;
}

.top-price__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}