@use "global" as *;

.top-information {
  background-color: $back-green;
  padding-top: rem(84);
  padding-bottom: rem(83);
  @include mq("md") {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}

.top-information__inner {
  max-width: rem(600);
}

.top-information__box {
  margin-top: rem(27);
  @include mq("md") {
    display: flex;
    margin-top: rem(40);
    gap: 4.5%;
    align-items: flex-start;
  }
}

.top-information__img {
  position: relative;
  @include mq("md") {
    width: 50%;
  }
}

.top-information__img::before {
  content: "";
  display: block;
  padding-top: 65.79%;
}

.top-information__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-information__body {
  margin-top: rem(22);
  @include mq("md") {
    width: 45.5%;
    margin-top: rem(54);
  }
}

.top-information__title {
  font-size: rem(20);
  font-weight: $bold;
  border-bottom: 1px solid $green-accent;
  @include mq("md") {
    padding-bottom: rem(2);
    font-size: rem(24);
  }
}

.top-information__text {
  margin-top: rem(8);
  @include mq("md") {
    line-height: 1.5;
  }
}

.top-information__btn {
  text-align: center;
  margin-top: rem(40);
}

.top-information__img {
  position: relative;
}

////////////////
//   出現アニメーション
////////////////


.top-information__img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: $green-accent;
}

.top-information__img.is-active {
  animation-name: boxAnimation;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes boxAnimation {
  0% {
    // 最初の状態
    clip-path: inset(0 0 0 100%);
  }
  100% {
    // 最後の状態
    clip-path: inset(0 0 0 0);
  }
}

.is-active.top-information__img::after {
  animation-name: colorAnimation;
  animation-delay: 0.7s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes colorAnimation {
  0% {
    // 最初の状態
    clip-path: inset(0 0 0 0);
  }
  100% {
    // 最後の状態
    clip-path: inset(0 100% 0 0);
  }
}
