@use "global" as *;

.top-blog {
  @include mq("md") {
    padding-top: rem(100);
    background-image: url(../images/common/blog-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }
}

.top-blog__cards {
  margin-top: rem(28);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.top-blog__inner {
  padding-left: rem(21);
  padding-right: rem(21);
  max-width: rem(600);
}

.top-blog__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}

.top-blog__section-title h2,
.top-blog__section-title span,
.top-blog__section-title p {
  @include mq("md") {
    color: $white;
  }
}
