@use "global" as *;

.top-mv {
  height: 100dvh;
  width: 100%;
}

.top-mv__inner {
  width: inherit;
  height: inherit;
  z-index: 0;
  position: relative;
  overflow: hidden;
}

.top-mv__title-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
  color: $white;
  @include mq("md") {
    top: 56%;
  }
}

.top-mv__title {
  font-size: rem(40);
  text-transform: uppercase;
  font-family: $third-font-family;
  letter-spacing: .525em;
  line-height: 1;
  text-indent: .5em;
  @include mq("md") {
    font-size: rem(80);
  }
}

.top-mv__sub-title {
  font-size: rem(20);
  margin-top: rem(6);
  font-family: $second-font-family;
  @include mq("md") {
    margin-top: rem(10);
  }
}

.top-mv__slide-img picture {
  object-fit: cover;
  height: 100dvh;
  width: 100%;
}