@use "global" as *;

.top-campaign__inner {
@include mq("md") {
  max-width: 1160px;
}
}

.top-campaign__cards {
  margin-top: rem(28);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.top-campaign__btn {
  margin-top: rem(30);
  text-align: center;
  @include mq("md") {
    margin-top: rem(70);
  }
}

.top-campaign__swiper {
  padding-bottom: rem(10);
  padding-left: rem(15);
}