@use "global" as *;

.voice-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40);
  @include mq("md") {
    grid-template-columns: 1fr 1fr;
    gap: rem(46);
  }
}

.voice-cards__item {
  width: 100%;
}

// 下層ページ
.voice-cards.tab__content-cards {
  @include mq("md") {
    gap: rem(80) rem(40);
  }
}