@use "global" as *;


.voice-card {
  box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
  display: inline-block;
  padding: rem(15) rem(16) rem(24);
  transition: .3s all;
  position: relative;
  background-color: $white;
  @include mq("md") {
    padding: rem(24);
  }
}

.voice-card:hover {
  opacity: .7;
}

.voice-card__head {
  display: flex;
  gap: 4.16%;
  @include mq("md") {
    gap: 3.43%;
  }
}

.voice-card__info-wrap {
  display: flex;
  flex-direction: column;
  width: 47.6%;
  @include mq("md") {
    width: 58.47%;
  }
}

.voice-card__info {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
    margin-top: rem(24);
    align-items: end;
  }
}

.voice-card__age {
  display: block;
  font-size: rem(12);
}

.voice-card__category {
  line-height: 1.83;
  padding: rem(3) rem(12);
  border: 1px solid $green-accent;
  color: $green-accent;
  font-size: rem(12);
  display: inline-block;
  text-align: center;
  @include mq("md") {
  padding: rem(5) rem(16);
    
  }
}

.voice-card__img {
  position: relative;
  margin-top: rem(9);
  width: 100%;
  width: 48.24%;
  @include mq("md") {
    margin-top: 0;
    width: 38.1%;
  }
  }

  .voice-card__img::before {
  content:"";
  display: block;
  padding-top: 77.48%;
  }

  .voice-card__img img {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
  object-fit: cover;
  top: 0;
  left:0;
  transform: translate(0);
  @include mq("md") {
    top: 0;
    left:0;
    transform: translate(0);
  }
  }

  .voice-card__title {
    padding-bottom: rem(2);
    font-weight: $medium;
    border-bottom: 1px solid $green-accent;
    line-height: 1.5;
    font-size: rem(16);
    margin-top: rem(3);
    @include mq("md") {
      font-size: rem(24);
      margin-top: rem(6);
      flex-grow: 1;
    }
  }

  .voice-card__text {
    margin-top: rem(16);
    line-height: 1.5;
    @include mq("md") {
      margin-top: rem(40);
    }
  }


////////////////
//   出現アニメーション
////////////////

.voice-card__img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: $green-accent;
}

.voice-card__img.is-active {
  animation-name: boxAnimation;
  animation-duration: .7s;
  animation-fill-mode: forwards;
}

@keyframes boxAnimation {
  0% {
    // 最初の状態
    clip-path: inset(0 0 0 100%);
  }
  100% {
    // 最後の状態
    clip-path: inset(0 0 0 0);
  }
}

.is-active.voice-card__img::after {
  animation-name: colorAnimation;
  animation-delay: 0.7s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes colorAnimation {
  0% {
    // 最初の状態
    clip-path: inset(0 0 0 0);
  }
  100% {
    // 最後の状態
    clip-path: inset(0 100% 0 0);
  }
}
  
